html {
  font-family: 'Nunito', sans-serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  font-weight: 200;
}

.footer {
  font-weight: 200;
}
